<form accept-charset="UTF-8" action="https://jgfortin2-staging.heroshop.co/en/homeowner-title-insurance?pending_payment=true" class="js-remote js-form-multiaction" data-remote-target=".js-form-remote-target" data-remote="true" method="post">
  <div style="display:none"><input name="utf8" type="hidden" value="✓"></div>
  <div>
    <input id="homeowner_insurance_request_referrer" name="homeowner_insurance[request_referrer]" type="hidden" value="https://jgfortin2-staging.heroshop.co/en/homeowner-title-insurance">
    <input name="homeowner_insurance[first_name]" type="hidden" value="Test">
    <input name="homeowner_insurance[last_name]" type="hidden" value="User">
    <input name="homeowner_insurance[email]" type="hidden" value="test.user12345@yopmail.com">
    <input name="homeowner_insurance[phone]" type="hidden" value="+917000654282">
    <input name="homeowner_insurance[address]" type="hidden" value="Indore">
    <input name="homeowner_insurance[zip]" type="hidden" value="452001">
    <input name="homeowner_insurance[city]" type="hidden" value="Indore">
    <input name="homeowner_insurance[province]" type="hidden" value="Madhya Pradesh">
    <input name="homeowner_insurance[assessment]" type="hidden" value="2">
  </div>
  <div class="c-homeowner__result__intro">
    <h4 class="c-homeowner__result__title">Insurance premium</h4>
    <div class="c-homeowner__result__amount">368.80$</div>
    <div class="c-homeowner__result__desc">For a property valued at 2$, your one time insurance premium is <span class="c-homeowner__result__desc__bold">368.80</span>.</div>
    <div class="c-homeowner__result__help">To complete your subscription request online, fill the form below or call us at <span class="c-homeowner__result__desc__bold">514-748-4873</span> to complete your request over the phone.</div>
  </div>
  <div class="c-homeowner__result__form">
    <fieldset>
      <h3 class="c-homeowner__result__form__title">Transaction information</h3>
      <div class="c-homeowner__result__form__row">
        <div class="c-homeowner__result__form__label">Language :*</div>
        <div class="c-homeowner__result__form__check">
          <label>
          <input class="js-checkbox-exclusive c-homeowner__form__checkbox" name="homeowner_insurance[language]" type="checkbox" value="French">
          <span>French</span>
          </label>            <label>
          <input checked="checked" class="js-checkbox-exclusive c-homeowner__form__checkbox" name="homeowner_insurance[language]" type="checkbox" value="English">
          <span>English</span>
          </label>          
        </div>
      </div>
      <div class="c-homeowner__result__form__row c-homeowner__result__form__row__column">
        <div class="c-homeowner__result__form__label">Homeowner(s): Name(s):*</div>
        <div class="c-homeowner__form__owners">
          <div class="c-homeowner__form__owners__owner"><input class="c-homeowner__form__input c-homeowner__form__input--no-margin" id="homeowner_insurance_homeowner_name_1" name="homeowner_insurance[homeowner_name_1]" required="required" type="text" value="Test User"></div>
          <div class="c-homeowner__form__owners__owner"><input class="c-homeowner__form__input c-homeowner__form__input--no-margin" id="homeowner_insurance_homeowner_name_2" name="homeowner_insurance[homeowner_name_2]" placeholder="2nd Homeowner Name" type="text" value=""></div>
          <div class="c-homeowner__form__owners__owner"><input class="c-homeowner__form__input c-homeowner__form__input--no-margin" id="homeowner_insurance_homeowner_name_3" name="homeowner_insurance[homeowner_name_3]" placeholder="3rd Homeowner Name" type="text" value=""></div>
        </div>
      </div>
      <div class="c-homeowner__result__form__row">
        <div class="c-homeowner__result__form__subtitle">Select / Choose:</div>
      </div>
      <div class="c-homeowner__result__form__row">
        <div class="c-homeowner__result__form__label">Type of property:*</div>
        <div>
          <select class="c-homeowner__form__select c-homeowner__form__select--higher" id="homeowner_insurance_type_of_property" name="homeowner_insurance[type_of_property]">
            <option selected="selected" value="1">Single-family dwelling</option>
            <option value="2">Condominium</option>
            <option value="3">Undivided&nbsp;co-ownership</option>
            <option value="4">Duplex</option>
            <option value="5">Triplex</option>
            <option value="6">Quadruplex</option>
            <option value="7">5 Units</option>
            <option value="8">6 Units</option>
            <option value="9">Vacant property (no building)</option>
          </select>
        </div>
      </div>
      <div class="c-homeowner__result__form__row">
        <div class="c-homeowner__result__form__check">
          <label>
          <span class="padding-right">Are you presently the owner of that property ?</span>
          <input name="homeowner_insurance[existing_homeowner]" type="hidden" value="No"><input checked="checked" id="homeowner_insurance_existing_homeowner" name="homeowner_insurance[existing_homeowner]" type="checkbox" value="Yes">
          <span class="two-lines">Yes</span>
          </label>          
        </div>
      </div>
      <div class="c-homeowner__result__form__row c-homeowner__result__form__row--small-margin">
        <div class="c-homeowner__result__form__label">Purchase date:*</div>
        <input class="js-date-input c-homeowner__form__input c-homeowner__form__input--small c-homeowner__form__input--no-margin" data-past-date-only="true" id="homeowner_insurance_purchase_date" name="homeowner_insurance[purchase_date]" required="required" type="text" value="July 20 2022">
      </div>
      <div class="c-homeowner__result__form__row">
        You must already own your property.
      </div>
      <div class="c-homeowner__result__form__row">
        <div class="c-homeowner__result__form__label">Property value (municipal assessment):</div>
        <b>2 $</b>
      </div>
    </fieldset>
  </div>
  <div class="c-homeowner__result__form">
    <fieldset>
      <h3 class="c-homeowner__result__form__title">Property legal description</h3>
      <div class="c-homeowner__result__form__row">
        <div class="c-homeowner__result__form__subtitle">Indicate (Mandatory fields):*</div>
      </div>
      <div class="c-homeowner__result__form__row">
        <div class="c-homeowner__result__form__label">Lot number(s):*</div>
        <input class="c-homeowner__form__input c-homeowner__form__input--small c-homeowner__form__input--no-margin" id="homeowner_insurance_lot_numbers" name="homeowner_insurance[lot_numbers]" required="required" type="text" value="2">
      </div>
      <div class="c-homeowner__result__form__row">
        (You can find this lot number on your tax account. This is not the ID number but the lot number, cadaster number or legal description).
      </div>
      <div class="c-homeowner__result__form__row">
        <div class="c-homeowner__result__form__label">Property Address:*</div>
        <div class="c-homeowner__result__form__grow"><input class="c-homeowner__form__input c-homeowner__form__input--no-margin" id="homeowner_insurance_property_address" name="homeowner_insurance[property_address]" required="required" type="text" value="Indore"></div>
      </div>
      <div class="c-homeowner__result__form__row">
        <div class="c-homeowner__result__form__label">City*</div>
        <div class="c-homeowner__result__form__grow"><input class="c-homeowner__form__input c-homeowner__form__input--no-margin" id="homeowner_insurance_property_city" name="homeowner_insurance[property_city]" required="required" type="text" value="Indore"></div>
      </div>
      <div class="c-homeowner__result__form__row">
        <div class="c-homeowner__result__form__label">Postal code*</div>
        <input class="c-homeowner__form__input c-homeowner__form__input--small c-homeowner__form__input--no-margin" id="homeowner_insurance_property_zip" name="homeowner_insurance[property_zip]" required="required" type="text" value="452001">
      </div>
    </fieldset>
  </div>
  <div class="c-homeowner__result__form">
    <fieldset>
      <h3 class="c-homeowner__result__form__title">Information regarding the property</h3>
      <div class="c-homeowner__result__form__row">
        <div class="c-homeowner__result__form__subtitle">Select:</div>
      </div>
      <div class="c-homeowner__result__form__row">
        <div class="c-homeowner__result__form__label">Is the Insured Property bound by water (lac, stream, river, etc.)?*</div>
        <div class="c-homeowner__result__form__check">
          <label>
          <input checked="checked" class="js-checkbox-exclusive c-homeowner__form__checkbox" name="homeowner_insurance[bound_by_water]" type="checkbox" value="Yes">
          <span>Yes</span>
          </label>            <label>
          <input class="js-checkbox-exclusive c-homeowner__form__checkbox" name="homeowner_insurance[bound_by_water]" type="checkbox" value="No">
          <span>No</span>
          </label>          
        </div>
      </div>
      <div class="c-homeowner__result__form__row">
        <div class="c-homeowner__result__form__label">Is the Insured Property on Municipal Water and Municipal Sewer?*</div>
        <div class="c-homeowner__result__form__check">
          <label>
          <input checked="checked" class="js-checkbox-exclusive c-homeowner__form__checkbox" name="homeowner_insurance[on_municipal_water]" type="checkbox" value="Yes">
          <span>Yes</span>
          </label>            <label>
          <input class="js-checkbox-exclusive c-homeowner__form__checkbox" name="homeowner_insurance[on_municipal_water]" type="checkbox" value="No">
          <span>No</span>
          </label>          
        </div>
      </div>
      <div class="c-homeowner__result__form__row">
        <div class="c-homeowner__result__form__label">Has a title insurance already been issued for the insured property according to the client ?*</div>
        <div class="c-homeowner__result__form__check">
          <label>
          <input checked="checked" class="js-checkbox-exclusive c-homeowner__form__checkbox" name="homeowner_insurance[title_insurance_already_issued]" type="checkbox" value="Yes">
          <span>Yes</span>
          </label>            <label>
          <input class="js-checkbox-exclusive c-homeowner__form__checkbox" name="homeowner_insurance[title_insurance_already_issued]" type="checkbox" value="No">
          <span>No</span>
          </label>          
        </div>
      </div>
      <div class="c-homeowner__result__form__row">
        <div class="c-homeowner__result__form__label">Has a title insurance been denied for the insured property, to the best of the client's knowledge?*</div>
        <div class="c-homeowner__result__form__check">
          <label>
          <input checked="checked" class="js-checkbox-exclusive c-homeowner__form__checkbox" name="homeowner_insurance[denied_for_insurance]" type="checkbox" value="Yes">
          <span>Yes</span>
          </label>            <label>
          <input class="js-checkbox-exclusive c-homeowner__form__checkbox" name="homeowner_insurance[denied_for_insurance]" type="checkbox" value="No">
          <span>No</span>
          </label>          
        </div>
      </div>
    </fieldset>
  </div>
  <div class="c-homeowner__result__form">
    <fieldset>
      <h3 class="c-homeowner__result__form__title">Notes</h3>
      <div class="c-homeowner__result__form__row">
        <div class="c-homeowner__result__form__grow"><textarea class="c-homeowner__form__textarea c-homeowner__form__input--no-margin" id="homeowner_insurance_notes" name="homeowner_insurance[notes]" rows="3">checking the details</textarea></div>
      </div>
      <div class="c-homeowner__result__form__row">
        <div class="c-homeowner__result__form__label">Referral agent name</div>
        <div class="c-homeowner__result__form__grow"><input class="c-homeowner__form__input c-homeowner__form__input--no-margin" id="homeowner_insurance_referral_agent_name" name="homeowner_insurance[referral_agent_name]" type="text" value=""></div>
      </div>
      <div class="c-homeowner__result__form__row">
        <div class="c-homeowner__result__form__label">Referral agent email</div>
        <div class="c-homeowner__result__form__grow"><input class="c-homeowner__form__input c-homeowner__form__input--no-margin" id="homeowner_insurance_referral_agent_email" name="homeowner_insurance[referral_agent_email]" type="text" value=""></div>
      </div>
      <div class="c-homeowner__result__form__row c-homeowner__result__form__row--resp-col c-homeowner__result__form__row--margin--top">
        <div class="c-homeowner__result__form__row__spacing"><input class="c-button c-button--tertiary" data-formaction="/en/homeowner-title-insurance?pending_payment=true" name="commit" type="submit" value="Pay online"></div>
        <div class="c-homeowner__result__form__row__spacing"><input class="js-form-multiaction-submit c-button c-button--tertiary" data-formaction="/en/homeowner-title-insurance?pending_callback=true" name="commit" type="submit" value="Request a callback"></div>
      </div>
      <div class="c-homeowner__result__form__row c-homeowner__result__form__row__column">
        <div>Your request for Title Insurance will be forwarded to our underwriting department and an insurance broker will contact you within 24 to 48 working hours.</div>
        <div>For any question, please call <strong>514-74 TITRE (84873)</strong> or email at <strong><a href="mailto:assurtitre@jgfortin.com">assurtitre@jgfortin.com</a></strong>.<br>Please note that submitting this form does not mean that you are insured.</div>
      </div>
    </fieldset>
  </div>
</form>